.legends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.legends p {
  font-size: 18px;
  width: 50%;
  margin: auto;
  text-align: justify;
  background-color: rgba(27, 27, 27, 0.05);
  padding: 15px;
  border-radius: 5px;
}

.legends-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding-top: 20px;
}

.legends-img img {
  width: 300px;
  transition: transform 0.3s ease;
}

.legends-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .legends {
    align-items: center;
  }
  
   .legends p {
    width: 70%;
   }

  .legends-img {
    flex-direction: column;
    gap: 50px;
    padding: 20px 0 20px 0;
  }

  .legends-img img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .legends p {
    width: 90%;
  }
}
