.legends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0 50px 0;
  gap: 20px;
}

.legends p {
  font-size: 20px;
  padding: 0 50px 0 50px;
  text-align: justify;
}

.legends-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding: 50px 0 50px 0;
}

.legends-img img {
  width: 300px;
  transition: transform 0.3s ease;
}

.legends-img img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .legends {
    align-items: center;
    padding: 10px 0 25px;
  }

  .legends-img {
    flex-direction: column;
    gap: 50px;
    padding: 20px 0 20px 0;
  }

  .legends-img img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .legends p {
    font-size: 17px;
    padding: 0 10px 0 10px;
  }
}
