.home-header {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  border-bottom: 3px solid #959494;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home-header img {
  width: 100%;
  object-fit: cover;
  border-top: 3px solid #959494;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.grid-container {
  width: 70%;
  margin: auto;
  padding: 100px 0 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.main-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #ffffff;
  padding: 10px;
}

.main-article img {
  max-width: 100%;
}

.small-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.small-article img {
  max-width: 100%;
}

.regions h2 {
  text-align: center;
  padding-bottom: 50px;
}

.regions-figure {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 50px;
}

.regions-figure figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  transition: transform 0.3s ease;
}

.regions-figure figure:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.regions-figure figure img {
  width: 150px;
}

.regions-figure button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ebebeb;
}

.regions-figure button:hover {
  background-color: #cdcbcb;
  border-radius: 5px;
}

@media screen and (max-width: 780px) {
  .home-header {
    width: 98%;
    padding-top: 40px;
  }

  .grid-container {
    width: 98%;
    padding: 50px 0 50px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .main-article {
    gap: 10px;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
  }

  .main-article img {
    max-width: 100%;
  }

  .small-article {
    font-size: 13px;
  }
}

@media screen and (max-width: 744px) {
  .grid-container {
    width: 70%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .main-article {
    grid-column: 1;
    grid-row: 1;
  }

  .regions-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .regions-figure figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    transition: transform 0.3s ease;
  }

  .regions-figure figure:hover {
    transform: scale(1.1);
    border-radius: 5px;
  }

  .regions-figure figure img {
    width: 150px;
  }

  .regions-figure button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ebebeb;
  }

  .regions-figure button:hover {
    background-color: #cdcbcb;
    border-radius: 5px;
  }
}
