.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.footer-logo img {
  width: 140px;
}

.footer-list ul {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.footer-list ul li {
  list-style: none;
}

